<h1><%= @meetup.name %></h1>

<p>Location: <br> <%= @meetup.location %></p>

<p>Description: <br> <%= @meetup.description %></p>


<% if signed_in? %>
  <% if current_user.meetups.include?(@meetup) == false %>
    <form action="/meetups/<%= @meetup.id %>/memberships" method="post">
      <input type="submit" value="Join this meetup">
    </form>
  <% else %>
    <p><strong>You have joined this meetup</strong></p>
  <% end %>
<% end %>
